## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE

application_df = application_df.drop(['EIN'], axis=1)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
unique_counts = application_df.nunique()
print(unique_counts)

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
name_counts = application_df['NAME'].value_counts()
print(name_counts)

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `name_to_replace`
#  YOUR CODE GOES HERE

# Choose the cutoff value
cutoff_value = 100

# Create a list of application types to be replaced
name_to_replace = application_df['NAME'].value_counts()[application_df['NAME'].value_counts() < cutoff_value].index.tolist()

# Replace the application types in the DataFrame
for app in name_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app, "Other")

# Check to make sure binning was successful
print(application_df['NAME'].value_counts())

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `APPLICATION_TYPE_to_replace`
#  YOUR CODE GOES HERE

# Choose the cutoff value
cutoff_value = 100

# Create a list of application types to be replaced
name_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff_value].index.tolist()

# Replace the application types in the DataFrame
for app in name_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure binning was successful
print(application_df['APPLICATION_TYPE'].value_counts())

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE

classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_greater_than_1 = classification_counts[classification_counts > 1]
print(classification_counts_greater_than_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE


# Choose the cutoff value
cutoff_value = 100

# Create a list of classifications to be replaced
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < cutoff_value].index.tolist()

# Replace the classifications in the DataFrame
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure binning was successful
print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE

# Select the columns containing categorical data
categorical_columns = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

# Convert categorical columns to numeric using one-hot encoding
application_df_encoded = pd.get_dummies(application_df, columns=categorical_columns)

# Display the encoded DataFrame
application_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
# Separate the features (X) and target (y)
X = application_df_encoded.drop('IS_SUCCESSFUL', axis=1).values  # Features
y = application_df_encoded['IS_SUCCESSFUL'].values  # Target

# Display the shapes of the X and y arrays
print("Shape of X:", X.shape)
print("Shape of y:", y.shape)


# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shapes of the training and testing sets
print("Training set - X shape:", X_train.shape)
print("Training set - y shape:", y_train.shape)
print("Testing set - X shape:", X_test.shape)
print("Testing set - y shape:", y_test.shape)

Shape of X: (34299, 81)
Shape of y: (34299,)
Training set - X shape: (27439, 81)
Training set - y shape: (27439,)
Testing set - X shape: (6860, 81)
Testing set - y shape: (6860,)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# # Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# #  YOUR CODE GOES HERE

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Define the model
nn = tf.keras.models.Sequential()
# nn = Sequential()
no_of_inputs = len(X_train[0])
# First hidden layer
nn.add(Dense(units=64, activation='relu', input_dim= no_of_inputs))

# Second hidden layer
nn.add(Dense(units=32, activation='relu'))

# Output layer
nn.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_12"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_24 (Dense)            (None, 64)                5248

 dense_25 (Dense)            (None, 32)                2080

 dense_26 (Dense)            (None, 1)                 33

=================================================================
Total params: 7,361
Trainable params: 7,361
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
#  YOUR CODE GOES HERE

# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# Train the model
#  YOUR CODE GOES HERE

history = nn.fit(X_train_scaled, y_train, epochs=100, verbose=1)

Epoch 1/100
858/858 [==============================] - 3s 2ms/step - loss: 0.5122 - accuracy: 0.7435
Epoch 2/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4916 - accuracy: 0.7571
Epoch 3/100
858/858 [==============================] - 3s 4ms/step - loss: 0.4884 - accuracy: 0.7597
Epoch 4/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4861 - accuracy: 0.7594
Epoch 5/100
858/858 [==============================] - 3s 3ms/step - loss: 0.4849 - accuracy: 0.7599
Epoch 6/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4835 - accuracy: 0.7615
Epoch 7/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4816 - accuracy: 0.7622
Epoch 8/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4817 - accuracy: 0.7629
Epoch 9/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4807 - accuracy: 0.7618
Epoch 10/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4806 - accuracy: 0.7632
Epoch 11/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4797 - accuracy: 0.7633
Epoch 12/100
858/858 [==============================] - 3s 3ms/step - loss: 0.4792 - accuracy: 0.7626
Epoch 13/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4782 - accuracy: 0.7631
Epoch 14/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4787 - accuracy: 0.7647
Epoch 15/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4776 - accuracy: 0.7630
Epoch 16/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4774 - accuracy: 0.7642
Epoch 17/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4774 - accuracy: 0.7650
Epoch 18/100
858/858 [==============================] - 3s 3ms/step - loss: 0.4765 - accuracy: 0.7650
Epoch 19/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4766 - accuracy: 0.7651
Epoch 20/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4765 - accuracy: 0.7657
Epoch 21/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4760 - accuracy: 0.7666
Epoch 22/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4756 - accuracy: 0.7668
Epoch 23/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4749 - accuracy: 0.7654
Epoch 24/100
858/858 [==============================] - 3s 3ms/step - loss: 0.4752 - accuracy: 0.7668
Epoch 25/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4751 - accuracy: 0.7655
Epoch 26/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4746 - accuracy: 0.7676
Epoch 27/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4747 - accuracy: 0.7657
Epoch 28/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4744 - accuracy: 0.7675
Epoch 29/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4740 - accuracy: 0.7673
Epoch 30/100
858/858 [==============================] - 3s 3ms/step - loss: 0.4735 - accuracy: 0.7675
Epoch 31/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4738 - accuracy: 0.7668
Epoch 32/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4737 - accuracy: 0.7665
Epoch 33/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4734 - accuracy: 0.7670
Epoch 34/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4732 - accuracy: 0.7680
Epoch 35/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4728 - accuracy: 0.7677
Epoch 36/100
858/858 [==============================] - 3s 3ms/step - loss: 0.4728 - accuracy: 0.7675
Epoch 37/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4727 - accuracy: 0.7679
Epoch 38/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4725 - accuracy: 0.7681
Epoch 39/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4724 - accuracy: 0.7677
Epoch 40/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4726 - accuracy: 0.7666
Epoch 41/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4718 - accuracy: 0.7681
Epoch 42/100
858/858 [==============================] - 3s 3ms/step - loss: 0.4720 - accuracy: 0.7690
Epoch 43/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4715 - accuracy: 0.7681
Epoch 44/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4720 - accuracy: 0.7677
Epoch 45/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4714 - accuracy: 0.7678
Epoch 46/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4715 - accuracy: 0.7673
Epoch 47/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4716 - accuracy: 0.7666
Epoch 48/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4714 - accuracy: 0.7692
Epoch 49/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4711 - accuracy: 0.7661
Epoch 50/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4712 - accuracy: 0.7676
Epoch 51/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4710 - accuracy: 0.7682
Epoch 52/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4709 - accuracy: 0.7693
Epoch 53/100
858/858 [==============================] - 3s 3ms/step - loss: 0.4711 - accuracy: 0.7678
Epoch 54/100
858/858 [==============================] - 3s 3ms/step - loss: 0.4706 - accuracy: 0.7691
Epoch 55/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4708 - accuracy: 0.7687
Epoch 56/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4705 - accuracy: 0.7689
Epoch 57/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4702 - accuracy: 0.7688
Epoch 58/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4703 - accuracy: 0.7683
Epoch 59/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4706 - accuracy: 0.7696
Epoch 60/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4702 - accuracy: 0.7673
Epoch 61/100
858/858 [==============================] - 3s 3ms/step - loss: 0.4701 - accuracy: 0.7691
Epoch 62/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4698 - accuracy: 0.7693
Epoch 63/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4700 - accuracy: 0.7688
Epoch 64/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4699 - accuracy: 0.7690
Epoch 65/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4698 - accuracy: 0.7689
Epoch 66/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4695 - accuracy: 0.7692
Epoch 67/100
858/858 [==============================] - 3s 3ms/step - loss: 0.4694 - accuracy: 0.7685
Epoch 68/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4688 - accuracy: 0.7688
Epoch 69/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4695 - accuracy: 0.7688
Epoch 70/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4690 - accuracy: 0.7674
Epoch 71/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4691 - accuracy: 0.7691
Epoch 72/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4684 - accuracy: 0.7693
Epoch 73/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4691 - accuracy: 0.7691
Epoch 74/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4694 - accuracy: 0.7687
Epoch 75/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4685 - accuracy: 0.7697
Epoch 76/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4689 - accuracy: 0.7688
Epoch 77/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4686 - accuracy: 0.7694
Epoch 78/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4683 - accuracy: 0.7691
Epoch 79/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4685 - accuracy: 0.7697
Epoch 80/100
858/858 [==============================] - 3s 3ms/step - loss: 0.4685 - accuracy: 0.7689
Epoch 81/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4683 - accuracy: 0.7699
Epoch 82/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4682 - accuracy: 0.7686
Epoch 83/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4684 - accuracy: 0.7688
Epoch 84/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4680 - accuracy: 0.7696
Epoch 85/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4685 - accuracy: 0.7696
Epoch 86/100
858/858 [==============================] - 3s 3ms/step - loss: 0.4680 - accuracy: 0.7687
Epoch 87/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4680 - accuracy: 0.7692
Epoch 88/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4681 - accuracy: 0.7700
Epoch 89/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4679 - accuracy: 0.7690
Epoch 90/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4680 - accuracy: 0.7702
Epoch 91/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4680 - accuracy: 0.7694
Epoch 92/100
858/858 [==============================] - 3s 4ms/step - loss: 0.4678 - accuracy: 0.7683
Epoch 93/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4677 - accuracy: 0.7691
Epoch 94/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4678 - accuracy: 0.7700
Epoch 95/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4675 - accuracy: 0.7689
Epoch 96/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4678 - accuracy: 0.7697
Epoch 97/100
858/858 [==============================] - 3s 3ms/step - loss: 0.4679 - accuracy: 0.7698
Epoch 98/100
858/858 [==============================] - 3s 4ms/step - loss: 0.4675 - accuracy: 0.7702
Epoch 99/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4677 - accuracy: 0.7693
Epoch 100/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4675 - accuracy: 0.7698

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5119 - accuracy: 0.7504 - 437ms/epoch - 2ms/step
Loss: 0.5119362473487854, Accuracy: 0.750437319278717

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE

# Specify the file path for saving the model
model_path = "model.h5"

# Save the model to the HDF5 file
nn.save(model_path)

# Print a message to confirm the successful export
print("Model exported to", model_path)

Model exported to model.h5